
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    padding: 15px;
    font-size: 5rem;
}

html{
    font-family: 'Oswald', sans-serif ;
    font-size: 50%;
    height: 100%;
}

body{
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 5px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 450px;
    font-size: 2rem;
    border: 1px solid black;
}

.calculadora-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid black;
    overflow-x: auto;
}

.calculadora-keypad{
    display: flex;
    width: 100%;
}

.keypad-numeros{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-buttons{
    width: 25%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid black;
}

.keypad-buttons:hover{
    filter:brightness(80%);
    transition: filter .25s;
}

.keypad-buttons.yellow{
    background-color: greenyellow;
    
}

.keypad-buttons.large{
    width: 50%;
}

.keypad-buttons.dark{
    background-color: aqua;
}

p{
    text-align: right;
    font-size: 2rem;
    
}